<%= form_for @recipe do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %></br>
  </div>
  <div class="field">
    <%= f.fields_for :details do |detail| %>
      <%= render 'detail_fields', f: detail %>
    <% end %>
    <%= link_to_add_association 'Add Ingredient', f, :details %>
  </div>
  <%= f.submit %>
<% end %>
