<table>
  <tr>
    <td colspan="3" class="form-header"><%= @recipe.name %></td>
  </tr>
  <tr>
    <td colspan="3" style="text-align:center"><%= link_to "Edit", edit_recipe_path(params[:id]) %></td>
  </tr>
  <tr>
    <td colspan="3" style="text-align:center;">Yield <%= @recipe.serving_size %> pieces</td>
  </tr>
  <% @details.each do |detail| %>
    <tr>
      <td><%= Ingredient.find(detail.ingredient_id).name %></td>
      <td><%= detail.quantity %></td>
      <td><%= detail.unit %></td>
    </tr>
  <% end %>
  <% cost = calculate_unit_cost(@recipe.id) %>
  <tr>
    <td>Cost per piece:</td>
    <td colspan="2" style="text-align:center;"><%= number_to_currency(cost) %></td>
  </tr>
  <tr>
    <td>Selling Price:</td>
    <td colspan="2" style="text-align:center;"> <%= number_to_currency(@recipe.selling_price) %></td>
  </tr>
  <tr>
    <td>Profit Margin Per Piece:</td>
    <td style="text-align:center;" colspan="2"> <%= number_to_currency(@recipe.selling_price - cost) %></td>
  </tr>
</table>
