<table>
  <tr>
    <td colspan="3" class="form-header"><%= @recipe.name %></td>
  </tr>
  <tr>
    <td colspan="3" style="text-align:center;">Yield <%= @recipe.serving_size %> pieces</td>
  </tr>
  <% @details.each do |detail| %>
    <tr>
      <td><%= Ingredient.find(detail.ingredient_id).name %></td>
      <td><%= detail.quantity %></td>
      <td><%= detail.unit %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3" style="text-align:center;">Cost per piece: <%= number_to_currency(calculate_unit_cost) %></td>
  </tr>
</table>
