<%= form_for @user do |f| %>
  <div class="sales-box">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="sales-box">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="sales-box">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="sales-box">
    <%= f.submit %>
  </div>
<% end %>
