<modal id="daily">
  <div class="chart">
    <h2>Profits by Day</h2>
    <%= line_chart @weekly_profits %>
  </div>
</modal>

<table>
  <tr>
    <td colspan="2">Total Profits For the Month of <%= @month.capitalize %>, <%= @year %></td>
  </tr>
  <tr>
    <td>Total Sales:</td>
    <td><%= number_to_currency(@sales_totals) %></td>
  </tr>
  <tr>
    <td>Total Expenses:</td>
    <td><%= number_to_currency(@expense_totals) %></td>
  </tr>
  <tr>
    <td>Net Profits:</td>
    <td><%= number_to_currency(@profits) %></td>
  </tr>
</table>
