<%= form_for @expense do |f| %>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date, value: Date.today %>
  </div>
  <div class="field">
    <%= f.label :expense_type %>
    <%= f.select(:expense_type, ["Ingredients", "Salary", "Cake Supplies", "Packaging", "Fuel", "Miscellaneous"]) %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>
  <%= f.submit %>
<% end %>
