<%= form_tag write_expenses_path, method: :get, target: "_blank",class: "navbar-form navbar-left search-form" do %>
  <input type="hidden" value="<%= @from %>" name="from">
  <input type="hidden" value="<%= @to%>" name="to">
  <%= submit_tag "Export to CSV", id: "export-button" %>
<% end %></br>

<% total = 0 %>
<table>
  <tr>
    <td class="form-header">Date</td>
    <td class="form-header">Type</td>
    <td class="form-header">Notes</td>
    <td class="form-header">Amount</td>
  </tr>
  <% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.date %></td>
    <td><%= expense.expense_type %></td>
    <td><%= expense.notes %></td>
    <td><%= number_to_currency(expense.amount) %></td>
    <% total += expense.amount %>
  </tr>
  <% end %>
  <tr>
    <td class="total" colspan="3" style="text-align:right">Total expenses during the period:</td>
    <td class="total"><%= number_to_currency(total) %></td>
  </tr>
</table>
