<!DOCTYPE html>
<html>
  <head>
    <title>Icas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %></br>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="notice"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
<%= console %>
